/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    /* プロジェクトによって変動 */
    min-width: 1000px;
    color: #fff;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;

    width: 100%;
    font-smoothing: antialiased;
    font-variant-numeric: tabular-nums;
    /* safari hover対策 */
    -webkit-font-smoothing: antialiased;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

ul, ol {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    vertical-align:baseline;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

img {
    vertical-align: bottom;
    line-height: 1.0;
}

button {
    line-height: 1.0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

/*======================================================*/

/* ヘッダー */

/*======================================================*/
header{
    height: 80px;
    background:#000;
    display: flex;
    flex-direction: row;
    align-items: center;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    width:100%;
    overflow: hidden;
    z-index:10;
}

.header-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: 3px;
    width:200px;
    font-family: sans-serif;
    text-align: center;
}

.header-title a{
    text-decoration: none;
    color: #fff;
}

/*ナビゲーション*/
.header nav{
    display: flex;
    flex-direction: row;
    width: 500px;
    height:60%;
    line-height: 48px;
    position: absolute;
    right: 0;
    margin: 0 40px;
}

.header nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.header nav ul li{
    padding: 0 60px;
    border-left: #fff 1px solid;
}
.header nav a{
    letter-spacing: 1.5px;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-family: sans-serif;
}
.header nav a::after {
    position: absolute;
    bottom: 15px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #ffffff;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .4s;
}

.header nav a:hover::after{
    transform: scale(1, 1);
}

/*======================================================*/

/* メイン */

/*======================================================*/

.main-container{
    width: 100%;
}

/*======================================================*/

/* トップバナー */

/*======================================================*/

.top-banner{
    width: 100%;
    height: 500px;
    background: #cccccc;
}

/*======================================================*/

/* アイテムコンテンツ */

/*======================================================*/

.item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.item {
    height:			250px;
    width: calc(100% / 4);
    overflow:		hidden;
    margin:			0;
    position:		relative;
    cursor: pointer;
}
.background-1{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #666666;
}
.background-2{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #999999;
}
.item .title {
    font-size:22px;
    font-family: sans-serif;
    letter-spacing:1.5px;
    text-align:center;
    color:#fff;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    -webkit-transition:	    all 0.5s ease;
    transition:		all 0.5s ease;
}
.item .mask {
    width:100%;
    height:100%;
    position:absolute;
    bottom:	0;
    left: 0;
    opacity: 0;	/* マスクを表示しない */
    background-color:	rgba(0,0,0,0.6);
    -webkit-transition:	    all 0.3s ease;
    transition:		all 0.3s ease;
}
.item.hover .mask {
    opacity:1;	/* マスクを表示*/
}
.item.hover .title{
    padding-bottom: 20px;
}
